{% extends 'temperature/base.html' %}
{% block content %}
<div class="container">
    <form method="get">
        <label>Inserte los datos para la tabla Medición</label><br>
        <label>Fecha: </label>
        <input name="fecha"><br>
        <label>Origen: </label>
        <select name="origen">
            <option>Sensor en terreno</option>
            <option>Imagen satelital</option>
            <option>Imagen dron</option>
            <option>Dato derivado</option>
        </select><br>
        <label>Valor: </label>
        <input type="number" name="valor" min="0"><br>
        <label>Código Sensor: </label>
        <input name="codigos"><br>
        <label>Observación: </label>
        <input name="observacion"><br>
        <button type="submit">Adicionar</button><br>
    </form>
    {% for medicion in mediciones %}
    <ul class="list-group">
        <li class="list-group-item">Fecha: {{medicion.fecha}}</li>
        <li class="list-group-item">Origen: {{medicion.origen}}</li>
        <li class="list-group-item">Valor = {{medicion.valor}}</li>
        <li class="list-group-item">Código sensor: {{medicion.codigos}}</li>
        <li class="list-group-item">Observación: {{medicion.observacion}}</li>
    </ul>
    {% endfor %}
</div>
{% endblock %}